<div class="courier-shipping-info" data-bind="visible: showCourierShippingInfo()" style="display: none;">
    <div class="step-title" data-role="title" data-bind="i18n: 'Courier shipping information'"></div>
    <p class="desc" data-bind="i18n: 'Price will be negotiated later.'"></p>
</div>
<div class="department-shipping-info" data-bind="visible: showDepartmentShippingInfo()" style="display: none;">
    <div class="step-title" data-role="title" data-bind="i18n: 'Department info'"></div>
    <p class="desc" data-bind="i18n: 'Price will be negotiated later.'"></p>
    <table>
        <tr class="row">
            <!-- ko foreach: getRegion('additionalShippingOptionField') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </tr>
    </table>
</div>
