@novaposhta-icons-admin__font-name-path: '@{baseDir}Magura_NovaPoshtaShipping/fonts/novaposhta-icons/novaposhta';
@novaposhta-icons-admin__font-name : 'NovaPoshta Icons';
.lib-font-face(
  @family-name:@novaposhta-icons-admin__font-name,
  @font-path: @novaposhta-icons-admin__font-name-path,
  @font-weight: normal,
  @font-style: normal
);
.admin__menu .item-novaposhta.parent.level-0 > a:before {
  font-family: @novaposhta-icons-admin__font-name;
  content: "\e9b0";
}
